* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
header {
  background-color: #798ba1;
  height: auto;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  margin: 0 auto;
  border: 0.2rem solid;
  border-radius: 0.5rem;
  padding: 2rem;
  color: rgb(187, 242, 250);
}
header h1 {
  font-size: 3rem;
}
.container {
  width: 70%;
  height: auto;
  margin: 0px auto;
  background-color: #93b8c8;
}

.box_conversion {
  height: auto;
  width: 70%;
  background-color: #ffffff;
  border-radius: 1.5rem;
  margin: 2rem 0 6rem 1rem;
  padding-bottom: 0.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.weight_tab {
}
.weight_content {
}
.unit_buttons {
}
@media screen and (max-width: 767px) {
  .nav_upper {
    display: inline-block;
    width: 280px;
    height: auto;
  }
  .nav_upper ul {
    display: block;
  }
  .nav_upper ul li {
    padding: 14px 9px;
    width: auto;
    display: block;
  }
  .nav_left {
    display: none;
  }

}

@media screen and (min-width: 768px) and (max-width:1023px) {
  .nav_upper {
    display: block;
    width: 280px;
    height: auto;
  }
  .nav_upper ul {
    display: block;
  }
  .nav_upper ul li {
    padding: 14px 9px;
    width: auto;
    display: block;
  }
  .nav_left {
    display: none;
  }


  
}

